.container{
    margin-bottom: 100px;
}
.orange-bg{

    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
 color: #FF136F;
}
.im1,.im2,.im3{
    padding: 10px 30px;
    border-radius: 10px;
}
.im1{
    background-color: orange;
}
.im2{
    background-color:#FF136F ;
}
.im3{
    background-color: grey;
}
.buy-now-button{
     background-image: linear-gradient(to bottom,#ff589b 0%,#ff589b 100%);
     color: white;
     border: none;
     border-radius: 8px;
     padding: 9px 25px;
     cursor: pointer;    
}
.categories h1{
    color: white;
}
.categories img{
     width: 100px;
}
.card{
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}

#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}